<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <% include headerAfterLogin %>
  </head>

  <body style="background-color: #e6ecf0">
    <div class="container container-fluid" style="background-color: #e6ecf0">
      <div class="row" >
        <div class="col-md-3  col-sm-12">
          <div class="twPc-div">
            <a class="twPc-bg twPc-block"></a>
          <div>
          <div class="twPc-button">
            <a href="" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true">@<%= getUserProfileCard.username %></a>
          </div>
          <a title="Mert Salih Kaplan" href="https://twitter.com/sathwara_mihir"
              class="twPc-avatarLink">
            <img alt="Mert Salih Kaplan" src="<%= getUserProfileCard.img %>" class="twPc-avatarImg">
          </a>

          <div class="twPc-divUser">
            <div class="twPc-divName">
              <a href="https://twitter.com/sathwara_mihir"><%= getUserProfileCard.name %></a>
            </div>
            <span>
            <a href="https://twitter.com/mertskaplan">@<span><%= getUserProfileCard.username %></span></a>
            </span>
          </div>

          <div class="twPc-divStats">
            <ul class="twPc-Arrange">
              <li class="twPc-ArrangeSizeFit">
                <a href="" title="9.840 Tweet">
                  <span class="twPc-StatLabel twPc-block">Tweets</span>
                  <span class="twPc-StatValue"><%= getTweetCount %></span>
                </a>
              </li>

              <li class="twPc-ArrangeSizeFit">
                <a href="" title="885 Following">
                  <span class="twPc-StatLabel twPc-block">Following</span>
                  <span class="twPc-StatValue"><%= followingcount %></span>
                </a>
              </li>

              <li class="twPc-ArrangeSizeFit">
                <a href="" title="1.810 Followers">
                  <span class="twPc-StatLabel twPc-block">Followers</span>
                  <span class="twPc-StatValue"><%= followercount %></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" style=" width: 50%">
      <div class="well clearfix row" style="background-color: #e8f4fb">
        <div class="col-md-1 col-sm-1 col-xs-1"><img src="<%= getUserProfileCard.img %>" class="img-circle" alt="Cinque Terre" width="32" height="32"></div>
        <div class="col-md-11"><textarea class="form-control" rows="4" name="tweetArea" id="tweetArea" placeholder="What's Happening?"  style="border-color: #a3d4f2;border-radius: 17px;" ></textarea><br/>
        <button class="btn btn-primary pull-right" id="Tweet" style="border-radius: 50px;background-color: #48aae6" name="Tweet"><b>Tweet</b></button></div>

      </div>
    </div>

    <div class="col-md-3">

    </div>
  </div>

    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-sm-12" >

        <div id="tweetsFromFollowing" style="list-style-type: none;">
          <% for(let i = tweet.length-1;i >= 0 ; i--) {%>

              <div class="well twtdiv row" style="margin-bottom: -18px;background-color: #ffffff;">
                <div class="col-md-2">
                  <img src="<%= tweet[i].path %>" class="img-circle" alt="Cinque Terre" width="48" height="48">
                </div>
                <% let flag %>
                <div class="col-md-10">
                <strong style="font-size: 17px"><%= tweet[i].name %></strong>&nbsp;@<%= tweet[i].username %><!-- <%= tweet[i]._id %> -->&nbsp;&nbsp;&nbsp;  <%=  tweet[i].date %><br/><p><%= tweet[i].tweet %></p><br/>
                   <%  for (let j = tweet[i].likes.length-1 ; j>=0 ; j--  ){ %>
                    <% if (getUserProfileCard.username == tweet[i].likes[j].liker) {
                      flag = true;
                      break;
                     } else {
                      flag = false;
                     }  %>
                  <%} %>
                  <div class="row" id="likeParent" style="margin-bottom: 0px;">
                     <% if (flag == true) { %>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                          <input type="image" class="unlike" src="images/twitterunLike.png"
                          onclick="unlike(this)" id="<%= tweet[i]._id %>" style="height: 20px;width: 20px;"
                          name="<%=tweet[i].likes.length%>">
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11" style="padding-left: 1px">
                          <p id="cnt<%= tweet[i]._id %>" value="q"><%=tweet[i].likes.length%></p>
                        </div>
                     <% } else { %>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                           <input type="image" class="like"  src="images/twitterLike.png"
                           onclick="like(this)" id="<%= tweet[i]._id %>" style="height: 20px;width: 20px;"
                           name="<%=tweet[i].likes.length%>">
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11" style="padding-left: 1px">
                          <p id="cnt<%= tweet[i]._id %>" value="q"><%=tweet[i].likes.length%></p>
                        </div>
                     <% } %>
                </div>
              </div>
              </div>
            <% } %>

        </div>
      </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $("#Tweet").click(function() {
    let tweet = document.getElementById("tweetArea").value;
    document.getElementById("tweetArea").value = "";
    $.ajax({
      method: "POST",
      url: "/createTweet",
      data: { tweet : tweet }
    })
    .done(function( data ) {

       $("#tweetsFromFollowing").prepend('<div class="well twtdiv row"><div class="col-md-2"><img src="<%= getUserProfileCard.img %>" class="img-circle" width="48" height="48"/></div><div><strong><%= getUserProfileCard.name %></strong>&nbsp;@<%= getUserProfileCard.username %> &nbsp;&nbsp;&nbsp; Just now<br/>'+data+'</div></div>');


    });
  })
</script>
<script type="text/javascript">
  $("#like").click(function(){
    $(this).toggleClass("is-active");
  })
</script>

<script type="text/javascript">

  function like(obj){
    console.log(obj);
    let like = obj.id;
    let name = parseInt(obj.name) + 1;
    $.ajax({
      method: "POST",
      url: "/like",
      data: { _id : like }
    })
    .done(function( data ) {
      console.log(">>>",data);

      $("#"+like).attr({src : "images/twitterunLike.png",onclick : "unlike(this)"});
      $("#cnt"+like).text(data.likercount);

    })
  }

</script>
<script type="text/javascript">

  function unlike(obj){
    console.log(obj);
    let unlike = obj.id;
    let name = parseInt(obj.name) - 1;
    $.ajax({
      method: "POST",
      url: "/unLike",
      data: { _id : unlike }
    })
    .done(function( data ) {

          $("#"+unlike).attr({src : "images/twitterLike.png",onclick : "like(this)"});
       $("#cnt"+unlike).text(data.likercount);


    })
  }

</script>
<script type="text/javascript">

</script>


</body>
</html>

