 <!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<% include headerAfterLogin %>
	</head>

	<body style="background-color: #e6ecf0">
		<div class="container">
			<div class="row" style="    background-color: #fff;">
				<a class="twPc-bg twPc-block" style="    height: 200px;"></a>
					<div>
						<div class="twPc-button">
							<a href="" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true">@<%= checkUser.username %></a>
						</div>

						<a title="Mert Salih Kaplan" href="https://twitter.com/sathwara_mihir"
							class="twPc-avatarLink">
							<img alt="Mert Salih Kaplan" src="<%= checkUser.img %>" class="twPc-avatarImg" style="height: 150px;width: 150px">
						</a>

						<div class="twPc-divUser">
							<div class="twPc-divName">
								<a href="https://twitter.com/sathwara_mihir""><%= checkUser.name %></a>
								 <input type="hidden" value="<%= username %>" id="username" name="username">
									<input type="hidden" value="<%= checkUser.username %>" id="friendUsername" name="friendUsername">
									 <%if (status == "follow") { %>
										 <button class="btn btn-primary btn-lg pull-right" id="unfollow"><%= status %></button>
									 <% } else { %>
										 <button class="btn btn-primary btn-lg pull-right" id="follow" ><%= status %></button>
									 <% } %>
							<!-- <input type="submit" class="btn btn-primary btn-lg pull-right" id="editProfile"  value="Edit Profile"/> -->
							</div>
							<span>
							<a href="https://twitter.com/mertskaplan">@<span><%= checkUser.username %></span></a>
							</span>
						</div>

						<div class="twPc-divStats">
							<ul class="twPc-Arrange">

								<li class="twPc-ArrangeSizeFit">
									<button id="tweet" class="btn btn-link" style="background-color: #fff;border-color: #fff" title="885 Following">  <span class="twPc-StatLabel twPc-block">Tweet</span>
										<span class="twPc-StatValue">Tweet <%= getTweetCount %></span>
									</button>
								</li>

								<li class="twPc-ArrangeSizeFit">
									<button id="followingcount" class="btn btn-link" style="background-color: #fff;border-color: #fff" title="885 Following">  <span class="twPc-StatLabel twPc-block">Following</span>
										<span class="twPc-StatValue"><%= followingcount %></span>
									</button>
								</li>

								<li class="twPc-ArrangeSizeFit">
									<button id="followercount" class="btn btn-link" style="background-color: #fff;border-color: #fff" title="885 Following">
										<span class="twPc-StatLabel twPc-block">Followers</span>
										<span class="twPc-StatValue"><%= followercount %></span>
										</button>

								</li>
							</ul>
						</div>
				</div>
	</div>

	<div class="row" style="padding-top : 7px;">
		<div class="col-md-3">
			<h5><b> Username : </b><%= checkUser.username %></h5>
			<input type="hidden" name="friendUsername" id="friendUsername">
		</div>
		<div class="col-md-6" id="followingA" style="word-break:break-all;">


		</div>
		<!-- <div class="col-md-3 well"></div> -->
	</div>


</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script type="text/javascript">
		$("#follow").click(function() {
				let myUsername = document.getElementById('username').value;
				console.log("myUsername",myUsername);
				let friendUsername = document.getElementById('friendUsername').value;
					$.ajax({
								method: "POST",
								url: "/follow",
								data: {myUsername : myUsername,friendUsername : friendUsername}
							})
							.done(function( msg ) {
								location.reload()
							});
			});
		</script>
		<script type="text/javascript">
			$("#unfollow").click(function() {

			let myUsername = document.getElementById('username').value;
			let friendUsername = document.getElementById('friendUsername').value;
				$.ajax({
							method: "POST",
							url: "/unfollow",
							data: {myUsername : myUsername,friendUsername : friendUsername}
						})
						.done(function( msg ) {
							location.reload()
						});
		});
		</script>

		<script type="text/javascript">
	 $("#tweet").click(function() {
		$( "#followingA" ).empty();
		let friendUsername = document.getElementById("friendUsername").value;
			$.ajax({
				method: "POST",
				url: "/getFriendTweets",
				data : { friendUsername : friendUsername }
			})
			.done(function( data ) {
				console.log("===",data)
				for(let i = data.length-1 ; i>=0 ; i--) {
					// console.log("m"+data[i].following);
					$("#followingA")
					.prepend('<div class="well" style="background-color:#ffffff"><img src="<%=  checkUser.img %>" class="img-circle" style="word-break:break-all;" width="48" height="48" /><b><%=  checkUser.name %> </b><br/>'+data[i].tweet+'</div>');
				}
			});
	 });
</script>

<script type="text/javascript">
	 $("#followingcount").click(function() {
		$( "#followingA" ).empty();
		let friendUsername = document.getElementById('friendUsername').value;
			$.ajax({
				method: "POST",
				url: "/following",
				data : { friendUsername : friendUsername }
			})
			.done(function( data ) {
				console.log("===",data)
				for(let i = data.length-1 ; i>=0 ; i--) {
					console.log("m"+data[i].following);
					$("#followingA")
					.prepend('<div class="well"><a href="/showFriendProfile?id='
						+data[i].following+'">'+data[i].following+'</a></div>');
				}
			});
	 });
</script>
<script type="text/javascript">
	 $("#followercount").click(function() {
		$( "#followingA" ).empty();
		let friendUsername = document.getElementById('friendUsername').value;
		// $( "#following" ).load( "p.ejs" );
			$.ajax({
				method: "POST",
				url: "/follower",
				data : { friendUsername : friendUsername }
			})
			.done(function( data ) {
				console.log("===",data)
				for(let i = data.length-1 ; i>=0 ; i--) {
					console.log("m"+data[i].following);
					$("#followingA")
					.prepend('<div class="well"><a href="/showFriendProfile?id='
						+data[i].username+'">'+data[i].username+'</a></div>');
				}
			});
	 });
</script>
</body>
</html>

